networks/
ng1_run000_txt/
ng2_run000_txt/
ng3_run000_txt/
ng4_run000_txt/
test_run000_txt/
random_run000_txt/
adjacency_matrix_agg_nc25_s0.08_txt/
adjacency_matrix_agg_nc25_s0.05_txt/
adjacency_matrix_agg_nc25_s0.25_txt/
adjacency_matrix_agg_nc25_s0.30_txt/
adjacency_matrix_agg_nc25_s0.10_txt/
adjacency_matrix_agg_nc25_s0.20_txt/
configurations/
adjacency_matrix_agg_nc50_s0.10_txt/
adjacency_matrix_random_l0.50_txt/
2D_axon_simulation/
3D_axon_simulation/
2D_created_networks/
3D_created_networks/
2D_initial_configurations/
3D_initial_configurations/
2D_dynamics/
3D_dynamics/
